# 2018년 3월 28일 점프투파이썬 2장

## 1절 숫자형

In [4]:
123

123

In [5]:
456

456

In [6]:
1+2

3

In [7]:
2*4

8

In [8]:
7/4

1.75

In [9]:
7%4

3

In [10]:
7//4

1

In [11]:
1-0.9

0.09999999999999998

### Lab 1
#### 수익 계산
- 변수 revenue를 생성 후 98456 할당
- 변수 cost를 생성 후 45000 할당
- 변수 profit을 생성ㅎ ㅜ, revenue와 cost 차이 값으로 설정
- profit 출력

In [32]:
revenue = 98456
cost = 45000
profit = revenue - cost
print (profit)

53456

## 2절 문자형

In [14]:
boy = "I am a boy"
boy

'I am a boy'

In [15]:
girl = 'I am a girl'
girl

'I am a girl'

In [16]:
"I am a girl"

'I am a girl'

In [17]:
friend = """
I am a boy
I am a girl
"""
friend

'\nI am a boy\nI am a girl\n'

In [18]:
boy + ' ' + girl

'I am a boy I am a girl'

In [24]:
boy * 3

'I am a boyI am a boyI am a boy'

In [35]:
# 문자열 인덱싱
a = "Life is too short, you need Python"
a[0] + a[10] + a[30]

'Lot'

In [37]:
# 문자열 슬라이싱 : 마지막 숫자는 포함되지 않는다.
a[12:17]

'short'

In [38]:
a[:]

'Life is too short, you need Python'

In [39]:
a[:20]

'Life is too short, y'

In [40]:
a[2:]

'fe is too short, you need Python'

### Lab 2

In [33]:
a = "I love you"
b = "you hate Python"

In [52]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print (year, month, day, weather)

2018 03 28 Sunny

In [53]:
print (year, '년', month, '월', '날씨는', weather, '입니다')

2018 년 03 월 날씨는 Sunny 입니다

In [72]:
"{year}년 {month}월 {day}일 날씨는 {weather} 입니다" .format(year=year,month=month,day=day,weather=weather)

'2018년 03월 28일 날씨는 Sunny 입니다'

## 문자열 내장함수

In [77]:
a = "나는 나다."
a.count('나')

2

In [81]:
# 위치 알려주기 1
a = "hobby"
a.find('b')
# 중복되면 처음 나오는 단어를 인식

2

In [82]:
# 위치 알려주기 2
a.index('b')

2

In [85]:
# 문자열 삽입하기
a = ","
a.join("abcd")

'a,b,c,d'

In [86]:
# 대문자로
a = "I love Python"
a.upper ()

'I LOVE PYTHON'

In [87]:
# 소문자로
a.lower ()

'i love python'

In [88]:
# 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [89]:
a.rstrip()

' hi'

In [90]:
a.strip()

'hi'

In [91]:
# 문자열 나누기
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

### Lab 2 이어서

In [93]:
a = "I love Python"
b = "You hate Python"

In [94]:
a.find('o')

3

In [101]:
a.index('o')

3

In [96]:
a.count('o')

2

In [97]:
a.upper()

'I LOVE PYTHON'

In [98]:
b.lower()

'you hate python'

In [103]:
a_6 = a[0:7]
a_6

'I love '

In [104]:
a_6.strip()

'I love'

In [100]:
a.split()

['I', 'love', 'Python']

### Lab 3
PI is 3.141592 and square foot of 2 is 1.414129

In [75]:
PI = 3.141592
sq_root = 1.414129
"PI is {II} and square root of 2 is {sq_root}" .format(II=PI, sq_root=sq_root)

'PI is 3.141592 and square root of 2 is 1.414129'