In [1]:
123

123

In [2]:
456

456

In [3]:
1+2

3

In [4]:
2*4

8

In [5]:
7/4

1.75

In [6]:
7%4
#나머지

3

In [8]:
7//4
#나머지빼고..?뭐라해야돼 이걸

1

In [9]:
1-0.9

0.09999999999999998

In [11]:
revenue = 98456
cost = 45000
profit = revenue - cost
print (profit)

53456

In [12]:
boy = "I am a boy"
boy

'I am a boy'

In [14]:
boy = "I am a boy"
print (boy)
# 그냥 boy 출력 하는 거랑, print (boy) 출력하는 거랑 무슨 차이지?

I am a boy

In [16]:
boy = "I am a boy"
boy

'I am a boy'

In [17]:
girl = 'I am a girl'

In [18]:
girl

'I am a girl'

In [19]:
"I am a girl"

'I am a girl'

In [21]:
friend = """I am a boy I am a girl"""
friend

'I am a boy I am a girl'

In [22]:
boy + ' ' + girl

'I am a boy I am a girl'

In [23]:
boy + girl

'I am a boyI am a girl'

In [24]:
(boy + ' ') * 3

'I am a boy I am a boy I am a boy '

In [25]:
a = "Life is too short, you need Python"
a[0] + a[10] + a[30]

'Lot'

In [26]:
a[:3]

'Lif'

In [27]:
a[0:3]

'Lif'

In [28]:
a[1:3]

'if'

In [29]:
a[:]

'Life is too short, you need Python'

In [30]:
a[2:]

'fe is too short, you need Python'

In [32]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print (year, month, day, weather)

2018 03 28 Sunny

In [35]:
print (year, '년')

2018 년

In [36]:
"{year}년 {month}월 {day}일 날씨는 {weather} 입니다".format(year=year, month=month, day=day, weather=weather)

'2018년 03월 28일 날씨는 Sunny 입니다'

In [37]:
a = "나는 나다."
a.count('나')

2

In [38]:
a = "hobby"
a.find('b')

2

In [39]:
a.index('b')

2

In [40]:
a = ","
a.join("abcd")

'a,b,c,d'

In [41]:
a = "I love Python"
a.upper()

'I LOVE PYTHON'

In [42]:
a.lower()

'i love python'

In [44]:
a = " hi "
a.lstrip()

'hi '

In [45]:
a.rstrip()

' hi'

In [46]:
a.strip()

'hi'

In [47]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [48]:
a = "I love Python"
b = "You hate Python"

In [49]:
a.find('o')

3

In [50]:
a.index('o')

3

In [51]:
a.count('o')

2

In [53]:
PI  = 3.141592
sq_root = 1.414129
"PI is {II} and square root of 2 is {sq_root}".format(II=PI, sq_root=sq_root)

'PI is 3.141592 and square root of 2 is 1.414129'

In [54]:
a = [1, 2, 3]
a[1]

2

In [55]:
a[-1]

3

In [56]:
a[-3:-1]

[1, 2]

In [57]:
a[-1:-3]

[]

In [58]:
e = [1, 2, ['Life', 'is']]
e[2][0]

'Life'

In [59]:
a = [1, 2, 3]
a[2] = [4, 5]
a

[1, 2, [4, 5]]

In [60]:
a[1:2]

[2]

In [61]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', [4, 5]]

In [63]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [64]:
a.append([5, 6])

In [65]:
a

[1, 2, 3, 4, [5, 6]]

In [67]:
a = [1, 3, 4, 5, 2]
a.sort()
a

[1, 2, 3, 4, 5]

In [68]:
a = [1, 2, 3]
a.insert(0, 4)

In [69]:
a

[4, 1, 2, 3]

In [72]:
a.remove(3)
a

[4, 1, 2]

In [73]:
a = [1, 2, 3]
a.pop()

3

In [74]:
a

[1, 2]

In [75]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [76]:
a.append([5, 6])
a

[1, 2, 3, 4, 5, [5, 6]]

In [77]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = ('a', 'b')
print(t1, t2, t3, t4)

() (1,) (1, 2, 3) ('a', 'b')